
<div>
  <h2 id="results_head"><%= @title %></h2>
  <img src=<%= @poster %>>

  <p>
    <span>Released: </span>
    <%= @released %></p>
  <p>
    <span>Rated: </span>
    <%= @rated %>
  </p>
  <p>
    <span>Runtime: </span>
    <%= @runtime %>
  </p>
  <p>
    <span>Genre: </span>
    <%= @genre %>
  </p>
  <p>
    <span>Director: </span>
    <%= @director %>
  </p>
  <p>
    <span>Writer(s): </span>
    <%= @writer %>
  </p>
  <p>
    <span>Actors: </span>
    <%= @actors %>
  </p>
  <p>
    <span>Plot: </span>
    <%= @plot %>
  </p>

  <%= @rt_name %>
</div>